<div class="page-container" data-ng-controller="paymentCtrl">
        <headertop></headertop>
           <!-- PAGE CONTENT -->
           <div class="page-content">
               <top></top>
               <!-- PAGE CONTENT WRAPPER -->
               <div class="page-content-wrap">                   
                   <!-- START WIDGETS -->                    
                   
                   <!-- END WIDGETS --> 
                   <div class="row">                    
                    <div class="col-md-12">                          
                            <!-- START DATATABLE EXPORT -->
                            <div class="row">
                                    <div class="col-md-5">
                                      <div class="col-md-6">
                                      <h6>Filter from</h6>
                                      <p class="input-group ui-datepicker">
                                        <input type="date" class="form-control" id="fromDate" />
                                      </p>
                                    </div>
                                    <div class="col-md-6">
                                    <h6>Filter to</h6>
                                    <p class="input-group ui-datepicker">
                                      <input type="date" class="form-control" id="toDate" />    
                                    </p>
                                  </div>
                                    </div>
                                    <div class="col-md-7">
                                      <div class="col-md-4">
                                        <h6>Sort by Organization</h6>
                                        <select class="form-control pull-right" id="Organization">
                                          <option value="-"> From All</option>
                                          <option ng-repeat="x in organizations" value="{{x.id}}"> {{x.name}}</option>    
                                        </select>
                                      </div>
                                      <div class="col-md-4">
                                        <h6>Sort by provider</h6>
                                        <select class="form-control pull-right" id="provider">
                                            <option value="-"> From All</option>
                                          <option ng-repeat="x in providers" value="{{x.id}}">{{x.name}}</option>
                                        </select>
                                      </div>
                                      <div class="col-md-4">
                                        <h6>Sort by Status</h6>
                                        <select class="form-control pull-right" id="type">                                            
                                            <option value="1"> From Accepted</option>          
                                        </select>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row" style="padding:12px 16px">
                                    <div class="col-sm-12">
                                      <button class="btn btn-block btn-large btn-primary" ng-click="filterTransactions($event)">
                                        <i class="fa fa-filter"></i> Filter Encounter
                                      </button>
                                    </div>
                                  </div>
                           <hr />
                           <div class="col-md-12">
                             <!--  <h2>&#x20A6;9,000,000</h2> -->
                           </div>
                           <hr />
                           <style>
                                .searchParam th .form-control{
                                  width: 100px !important;
                                }
                                .table-responsive {
                                  width: 100%;
                                  margin-bottom: 15px;
                                  overflow-x: auto;
                                  overflow-y: hidden;
                                  -webkit-overflow-scrolling: touch;
                                  -ms-overflow-style: -ms-autohiding-scrollbar;
                                  border: 1px solid #DDD;
                                  padding-bottom: 40px;
                              }
                              </style>
                           <div class="panel panel-default">
                               <div class="panel-heading">
                                   <h3 class="panel-title"><span class="fa fa-users"> </span> Payment </h3>
                                   <div class="btn-group pull-right">
                                       
                                      <!--<button class="btn btn-info" data-toggle="modal" data-target="" ng-click="payAll()" id="payAll"><span class="fa fa-money"></span>Pay All </button> -->
                                       <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> Export Data</button>
                                       <ul class="dropdown-menu">
                                           <li><a href="#" onClick ="$('#customers2').tableExport({type:'json',escape:'false'});"><img src='img/icons/json.png' width="24"/> JSON</a></li>
                                           <li><a href="#" onClick ="$('#customers2').tableExport({type:'json',escape:'false',ignoreColumn:'[2,3]'});"><img src='img/icons/json.png' width="24"/> JSON (ignoreColumn)</a></li>
                                           <li><a href="#" onClick ="$('#customers2').tableExport({type:'json',escape:'true'});"><img src='img/icons/json.png' width="24"/> JSON (with Escape)</a></li>
                                           <li class="divider"></li>
                                           <li><a href="#" onClick ="$('#customers2').tableExport({type:'xml',escape:'false'});"><img src='img/icons/xml.png' width="24"/> XML</a></li>
                                           <li><a href="#" onClick ="$('#customers2').tableExport({type:'sql'});"><img src='img/icons/sql.png' width="24"/> SQL</a></li>
                                           <li class="divider"></li>
                                           <li><a href="#" onClick ="$('#customers2').tableExport({type:'csv',escape:'false'});"><img src='img/icons/csv.png' width="24"/> CSV</a></li>
                                           <li><a href="#" onClick ="$('#customers2').tableExport({type:'txt',escape:'false'});"><img src='img/icons/txt.png' width="24"/> TXT</a></li>
                                           <li class="divider"></li>
                                           <li><a href="#" onClick ="$('#customers2').tableExport({type:'excel',escape:'false'});"><img src='img/icons/xls.png' width="24"/> XLS</a></li>
                                           <li><a href="#" onClick ="$('#customers2').tableExport({type:'doc',escape:'false'});"><img src='img/icons/word.png' width="24"/> Word</a></li>
                                           <li><a href="#" onClick ="$('#customers2').tableExport({type:'powerpoint',escape:'false'});"><img src='img/icons/ppt.png' width="24"/> PowerPoint</a></li>
                                           <li class="divider"></li>
                                           <li><a href="#" onClick ="$('#customers2').tableExport({type:'png',escape:'false'});"><img src='img/icons/png.png' width="24"/> PNG</a></li>
                                           <li><a href="#" onClick ="$('#customers2').tableExport({type:'pdf',escape:'false'});"><img src='img/icons/pdf.png' width="24"/> PDF</a></li>
                                       </ul>
                                   </div>                                    
                                   
                               </div>

                               <div class="panel-body" id="summary_tbl">
                                       <div style="padding-left:10px"><h3>Showing Providers entitled to settlement</h3></div>
                                       <hr/>
                                   <table id="customers2" class="table datatable" datatable="ng" dt-options="dtOptions" dt-instance="dtInstance">
                                       <thead>
                                           <tr>
                                               <th>s/n</th>
                                               <th>Provider Name</th>
                                               <th>Total Encounters </th>                                               
                                               <th>Total unpaid</th>
                                               <th>Action<input type="hidden" id="total" value="{{canteenData.length}}"></th>
                                           </tr>
                                       </thead>
                                       <tbody>
                                           <tr ng-repeat="x in summaryList">
                                               <td>{{$index+1}}</td>
                                               <td>{{x.providerName}}</td>
                                               <td>{{x.totalCount}}</td>
                                               <td>₦{{pricer(x.finalPrice)}}</td>
                                               <td>
                                                <div style="padding:5px">        
                                                   <button class="btn btn-success" ng-click="payBtn(x, $index, $event)"><i class="fa fa-money"> </i> Confirm Payment</button>
                                               </div>
                                               <div style="padding:5px">
                                                   <button class="btn btn-default" ng-click="toggleView($index)"><i class="fa fa-history"> </i> View Unpaid Summary</button>
                                               </div>
                                               </td>
                                           </tr>                                           
                                       </tbody>
                                       <thead>
                                           <tr>
                                               <th>s/n</th>
                                               <th>Provider Name</th>
                                               <th>Grand Total Encounters: {{pricer(tcSum)}}</th>
                                               <th>Grand Total unpaid: ₦{{pricer(pSum)}}</th>
                                               <th>Action</th>
                                           </tr>
                                       </thead>
                                   </table>                                    
                                   
                               </div>


                               <hr>
                               
                               <div class="panel-body" id="details_tbl" style="display: none">
                                    <div style="padding-left:10px"><h3>Showing Details <span class="btn-link" style="cursor: pointer" ng-click="toggleView()"><i class="fa fa-retweet"></i> Click to toggle View</h3></span></div>
                                    <table class="table table-bordered bordered table-striped table-condensed datatable" id="customers21" datatable="ng" dt-options="dtOptions" dt-instance="dtInstance">
                                            <thead>
                                              <tr style="color: black">
                                                <th>ID</th>                                              
                                                <th>Provider</th>
                                                <th>Med IC</th>
                                                <th>Service Category</th>
                                                <th>Health plan</th>
                                                <th>Complaint</th>
                                                <th>Claim Amount</th>
                                                <th>Duration</th>
                                                <th>Frequency</th>
                                                <th>Transaction Date</th>          
                                                <th>Final Amount</th>
                                                <th>Final Comment</th>
                                                <th>Status</th>
                                              </tr>
                                            </thead>
                                            <thead>
                                                <tr class="searchParam">
                                                        <th>S/N</th>                                                       
                                                         <th><input type="text" id = "extended3" ng-keyup="listenForEvoke($event)" class="form form-control elsKey" placeholder="Search Provider" /></th>
                                                         <th><input type="text" id = "extended4" ng-keyup="listenForEvoke($event)" class="form form-control elsKey" placeholder="Search Med IC" /></th>
                                                         <th><input type="text" id = "extended5" ng-keyup="listenForEvoke($event)" class="form form-control elsKey" placeholder="Search Service Category" /></th>
                                                         <th><input type="text" id = "extended6" ng-keyup="listenForEvoke($event)" class="form form-control elsKey" placeholder="Search Health plan" /></th>
                                                         <th><input type="text" id = "extended8" ng-keyup="listenForEvoke($event)" class="form form-control elsKey" placeholder="Search Complaint" /></th>  
                                                         <th><input type="text" id = "extended9" ng-keyup="listenForEvoke($event)" class="form form-control elsKey" placeholder="Search Claim Amount" /></th>               
                                                         <th><input type="text" id = "extended10" ng-keyup="listenForEvoke($event)" class="form form-control elsKey" placeholder="Search Duration" /> </th>
                                                         <th><input type="text" id = "extended11" ng-keyup="listenForEvoke($event)" class="form form-control elsKey" placeholder="Search Frequency" /></th>
                                                         <th><input type="text" id = "extended12" ng-keyup="listenForEvoke($event)" class="form form-control elsKey" placeholder="Search Transaction Date" /></th>
                                                         <th><input type="text" id = "extended13" ng-keyup="listenForEvoke($event)" class="form form-control elsKey" placeholder="Search Final Amount" /></th>  
                                                         <th><input type="text" id = "extended14" ng-keyup="listenForEvoke($event)" class="form form-control elsKey" placeholder="Search Final Comment" /></th>               
                                                         <th><input type="text" id = "extended15" ng-keyup="listenForEvoke($event)" class="form form-control elsKey" placeholder="Search Status" /> </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                              <tr ng-repeat="x in encounters">
                                                  <th>{{$index + 1}}</th>
                                                  <th>{{x.providerName}}</th>
                                                  <th>{{x.serviceName}}</th>
                                                  <th>{{x.serviceCatName}}</th>
                                                  <th>{{x.planName}}</th>
                                                  <th>{{x.summary}}</th>
                                                  <th>{{pricer(x.price)}}</th>
                                                  <th>{{x.duration}}</th>
                                                  <th>{{x.frequency}}</th>
                                                  <th>{{dateFormater(x.transDate)}}</th>          
                                                  <th>{{(x.finalPrice > 0) && pricer(x.finalPrice) || pricer(x.price)}}</th>
                                                  <th>{{x.comments}}</th>
                                                  <th>
                                                    <span ng-if="x.status == 0" class="btn btn-default btn-xs"><i class="fa fa-archive"></i> Pending</span>
                                                    <span ng-if="x.status == -1" class="btn btn-danger btn-xs"><i class="fa fa-times"></i> Rejected</span>
                                                    <span ng-if="x.status == 1" class="btn btn-success btn-xs"><i class="fa fa-check"></i> Accepted</span>
                                                    <span ng-if="x.status == 10" class="btn btn-info btn-xs"><i class="fa fa-refresh"></i> Reprocess</span>
                                                  </th>
                                              </tr>
                                              </tbody>
                                          </table>
                               </div>
                           </div>
                           <!-- END DATATABLE EXPORT -->                            
                           


                   </div>
                   <!-- END DATATABLE EXPORT -->                            
                   

                   </div>      
                   
                  
               </div>
               <!-- END PAGE CONTENT WRAPPER -->                                
           </div>            
           <!-- END PAGE CONTENT -->
           <!-- Modal 
<button class="btn btn-info" id="hmod" data-toggle="modal" data-target="#historyModal"></button> -->
<div id="historyModal" class="modal fade" role="dialog">
 <div class="modal-dialog" style="width:100%">
   <!-- Modal content-->
   <div class="modal-content"  style="width:60%; left:20%">
     <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal">&times;</button>
       <h4 class="modal-title"><span class="fa fa-cutlery"> </span>Viewing Transactions from <span id="transSlot"></span></h4>
     </div>
     <div class="modal-body" style="height:auto">
           <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> Export Data</button>
           <ul class="dropdown-menu">
               <li><a href="#" onClick ="$('#table4').tableExport({type:'json',escape:'false'});"><img src='img/icons/json.png' width="24"/> JSON</a></li>
               <li><a href="#" onClick ="$('#table4').tableExport({type:'json',escape:'false',ignoreColumn:'[2,3]'});"><img src='img/icons/json.png' width="24"/> JSON (ignoreColumn)</a></li>
               <li><a href="#" onClick ="$('#table4').tableExport({type:'json',escape:'true'});"><img src='img/icons/json.png' width="24"/> JSON (with Escape)</a></li>
               <li class="divider"></li>
               <li><a href="#" onClick ="$('#table4').tableExport({type:'xml',escape:'false'});"><img src='img/icons/xml.png' width="24"/> XML</a></li>
               <li><a href="#" onClick ="$('#table4').tableExport({type:'sql'});"><img src='img/icons/sql.png' width="24"/> SQL</a></li>
               <li class="divider"></li>
               <li><a href="#" onClick ="$('#table4').tableExport({type:'csv',escape:'false'});"><img src='img/icons/csv.png' width="24"/> CSV</a></li>
               <li><a href="#" onClick ="$('#table4').tableExport({type:'txt',escape:'false'});"><img src='img/icons/txt.png' width="24"/> TXT</a></li>
               <li class="divider"></li>
               <li><a href="#" onClick ="$('#table4').tableExport({type:'excel',escape:'false'});"><img src='img/icons/xls.png' width="24"/> XLS</a></li>
               <li><a href="#" onClick ="$('#table4').tableExport({type:'doc',escape:'false'});"><img src='img/icons/word.png' width="24"/> Word</a></li>
               <li><a href="#" onClick ="$('#table4').tableExport({type:'powerpoint',escape:'false'});"><img src='img/icons/ppt.png' width="24"/> PowerPoint</a></li>
               <li class="divider"></li>
               <li><a href="#" onClick ="$('#table4').tableExport({type:'png',escape:'false'});"><img src='img/icons/png.png' width="24"/> PNG</a></li>
               <li><a href="#" onClick ="$('#table4').tableExport({type:'pdf',escape:'false'});"><img src='img/icons/pdf.png' width="24"/> PDF</a></li>
           </ul>
           <table id="table4" class="table datatable">
                   <thead>
                       <tr>
                           <th>s/n</th>
                           <th>Transaction Date</th>
                           <th>Transaction details</th>
                           <th>Grand total ₦</th>
                       </tr>
                   </thead>
                   <tbody>
                       <tr ng-repeat="x in canteenHistory">
                           <td>{{$index+1}}</td>
                           <td>{{dateFormater(x.transDate)}}</td>
                           <td style="font-weight:bold">{{ptt(x)}}</td>
                           <td>{{pricer(x.GrandTotal)}}</td>
                       </tr>                                           
                   </tbody>
               </table>    
     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
     </div>
   </div>

 </div>
</div>
      
<footertop></footertop>
