<div class="panel" data-ng-controller="reimbursementCtrl">
    <style>
      .table-responsive {
      width: 100%;
      margin-bottom: 15px;
      overflow-x: auto;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      border: 1px solid #DDD;
      padding-bottom: 40px;
  }
  /*.dropdown-menu li{
    padding-left: 6px;
    cursor: pointer;
  }
  .dropdown-menu li:hover{
    padding-left: 12px;
    cursor: pointer;
  }*/
  
    </style>
    <div class="lb1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <div class="panel-heading border">
      <ol class="breadcrumb mb0 no-padding">
        <li>
          <a href="javascript:;">Home</a>
        </li>
        <li class="active">Reimbursement</li>
      </ol>
  </div>
  <div ui-jq="checkBo">
  <div class="row">
    <div class="col-md-5">
      <div class="col-md-6">
      <h6>Filter from</h6>
      <p class="input-group ui-datepicker">
        <input type="date" class="form-control" id="fromDate" />
      </p>
    </div>
    <div class="col-md-6">
    <h6>Filter to</h6>
    <p class="input-group ui-datepicker">
      <input type="date" class="form-control" id="toDate" />    
    </p>
  </div>
    </div>
    <div class="col-md-7">
      <div class="col-md-4">
        <h6>Sort by Organization</h6>
        <select class="form-control pull-right" id="Organization">
          <option value="-"> From All</option>
          <option ng-repeat="x in organizations" value="{{x.id}}"> {{x.name}}</option>    
        </select>
      </div>
      <div class="col-md-4">
        <h6>Sort by Status</h6>
        <select class="form-control pull-right" id="type">
            <option value="-"> From All</option>
            <option value="0"> From Pending</option>
            <option value="-1"> From Rejected</option>
            <option value="1"> From Accepted</option>          
            <option value="2"> From Paid</option>
        </select>
      <!--  <h6>Sort by provider</h6>
        <select class="form-control pull-right" id="provider">
            <option value="-"> From All</option>
          <option ng-repeat="x in providers" value="{{x.id}}">{{x.name}}</option>
        </select> -->
      </div>
      <div class="col-md-4">
        
      </div>
    </div>
  </div>
  <div class="row" style="padding:12px 16px">
    <div class="col-sm-12">
      <button class="btn btn-block btn-large btn-primary" id="filterBtn" ng-click="filterTransactions()">
        <i class="fa fa-filter"></i> Filter Reimbursement
      </button>
    </div>
  </div>
  <style>
    .searchParam th .form-control{
      width: 100px !important;
    }
  </style>
  <div class="panel-heading">
      <h3 class="panel-title"><span class="fa fa-stethoscope"> </span> Reimbursement </h3>
      <div class="btn-group pull-right">        
         <!--<button class="btn btn-info" data-toggle="modal" data-target="" ng-click="payAll()" id="payAll"><span class="fa fa-money"></span>Pay All </button> -->
          <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> Export Data</button>
          <ul class="dropdown-menu">
              <li><a href="#" onClick ="$('#customers2').tableExport({type:'json',escape:'false'});"><img src='img/icons/json.png' width="24"/> JSON</a></li>
              <li><a href="#" onClick ="$('#customers2').tableExport({type:'json',escape:'false',ignoreColumn:'[2,3]'});"><img src='img/icons/json.png' width="24"/> JSON (ignoreColumn)</a></li>
              <li><a href="#" onClick ="$('#customers2').tableExport({type:'json',escape:'true'});"><img src='img/icons/json.png' width="24"/> JSON (with Escape)</a></li>
              <li class="divider"></li>
              <li><a href="#" onClick ="$('#customers2').tableExport({type:'xml',escape:'false'});"><img src='img/icons/xml.png' width="24"/> XML</a></li>
              <li><a href="#" onClick ="$('#customers2').tableExport({type:'sql'});"><img src='img/icons/sql.png' width="24"/> SQL</a></li>
              <li class="divider"></li>
              <li><a href="#" onClick ="$('#customers2').tableExport({type:'csv',escape:'false'});"><img src='img/icons/csv.png' width="24"/> CSV</a></li>
              <li><a href="#" onClick ="$('#customers2').tableExport({type:'txt',escape:'false'});"><img src='img/icons/txt.png' width="24"/> TXT</a></li>
              <li class="divider"></li>
              <li><a href="#" onClick ="$('#customers2').tableExport({type:'excel',escape:'false'});"><img src='img/icons/xls.png' width="24"/> XLS</a></li>
              <li><a href="#" onClick ="$('#customers2').tableExport({type:'doc',escape:'false'});"><img src='img/icons/word.png' width="24"/> Word</a></li>
              <li><a href="#" onClick ="$('#customers2').tableExport({type:'powerpoint',escape:'false'});"><img src='img/icons/ppt.png' width="24"/> PowerPoint</a></li>
              <li class="divider"></li>
              <li><a href="#" onClick ="$('#customers2').tableExport({type:'png',escape:'false'});"><img src='img/icons/png.png' width="24"/> PNG</a></li>
              <li><a href="#" onClick ="$('#customers2').tableExport({type:'pdf',escape:'false'});"><img src='img/icons/pdf.png' width="24"/> PDF</a></li>
          </ul>
      </div>                                    
      
  </div>
  </div>
    <div class="panel-body table-responsive">
      <style>
        .table tbody tr th{
          font-weight: lighter !important
        }
      </style>
      <table class="table table-bordered bordered table-striped table-condensed datatable" id="customers2" datatable="ng" dt-options="dtOptions" dt-instance="dtInstance">
        <thead>
          <tr style="color: black">
            <th>SN</th>
            <th style="width: 100px">Enrolee Name</th>
            <th>Enrolee-ID</th>
            <th>Reason</th>
            <th>Bank Name</th>
            <th>Nuban</th>
            <th>Claim Amount</th>
            <th>Receive Treatment in Hospital Before?</th>
            <th>Date of last treatment</th>
            <th>Last Diagnosis</th>
            <th>Entry Date</th>
            <th>Vet Amount</th>
          <!--   <th>Duration</th>
           <th>Frequency</th> 
            <th>Transaction Date</th>          
            <th>Final Amount</th>
            <th>Final Comment</th>-->
            <th>Status</th>
            <th>Comment</th>
            <th>Actions</th>
          </tr>
        </thead>
        <thead>
            <tr class="searchParam">
                    <th>S/N</th>
                     <th><input type="text" id = "extended1" ng-keyup="listenForEvoke($event)" class="form form-control elsKey" placeholder="Search Enrolee Name" /></th>
                    <th><input type="text" id = "extended2" ng-keyup="listenForEvoke($event)" class="form form-control elsKey" placeholder="Search Enrolee-ID" /></th>
                     <th></th>
                     <th></th>
                     <th></th>
                     <th></th>
                     <th></th>
                     <th></th>
                     <th></th>
                     <th></th>
                     <th></th>
                     <th></th>
                    <th></th>
                    <th></th>
            <!--         <th><input type="text" id = "extended7" ng-keyup="listenForEvoke($event)" class="form form-control elsKey" placeholder="Search cardSerial" /></th> 
                     <th><input type="text" id = "extended8" ng-keyup="listenForEvoke($event)" class="form form-control elsKey" placeholder="Search Complaint" /></th>  -->
                     <!--<th></th>               
                     <th><input type="text" id = "extended10" ng-keyup="listenForEvoke($event)" class="form form-control elsKey" placeholder="Search Duration" /> </th> 
                     <th><input type="text" id = "extended11" ng-keyup="listenForEvoke($event)" class="form form-control elsKey" placeholder="Search Frequency" /></th> 
                     <th><input type="text" id = "extended12" ng-keyup="listenForEvoke($event)" class="form form-control elsKey" placeholder="Search Transaction Date" /></th>
                     <th><input type="text" id = "extended13" ng-keyup="listenForEvoke($event)" class="form form-control elsKey" placeholder="Search Final Amount" /></th>  
                     <th><input type="text" id = "extended14" ng-keyup="listenForEvoke($event)" class="form form-control elsKey" placeholder="Search Final Comment" /></th>    -->
                     <!--<th></th>
  
                     <th><input type="text" id = "extended15" ng-keyup="listenForEvoke($event)" class="form form-control elsKey" placeholder="Search Status" /> </th>
                     <th>Action</th>-->
            </tr>
        </thead>
        <tbody style="font-weight:lighter !important">
          <tr ng-repeat="x in reimbursement">
              <th>{{$index + 1}}</th>
             <th>{{x.enroleeName}}</th>
              <th>{{x.enroleeID}}</th>
              <th>{{x.reason}}</th>
              <th>{{x.bank}}</th>
              <th>{{ x.nuban }}</th>
              <th>{{x.amount}}</th>
              <th>{{x.isrecievetreatment}}</th>
              <th>{{x.treatDate}}</th>
               <th>{{x.diagnosis}}</th>
               <th>{{dateFormater(x.transDate)}}</th>
               <th>{{pricer(x.finalAmount)}}</th>
               <th>
                    <span ng-if="x.status == 0" class="btn btn-default " style="width:100%"><i class="fa fa-archive"></i> Pending</span>
                    <span ng-if="x.status == -1" class="btn btn-danger " style="width:100%"><i class="fa fa-times"></i> Rejected</span>
                    <span ng-if="x.status == 1" class="btn btn-success " style="width:100%"><i class="fa fa-check"></i> Accepted</span>
                    <span ng-if="x.status == 10" class="btn btn-info " style="width:100%"><i class="fa fa-refresh"></i> Reprocess</span>
                    <span ng-if="x.status == 2" class="btn btn-primary " style="width:100%"><i class="fa fa-money"></i> Paid</span>
               </th>
               <th>
                 {{x.comment}}
               </th>
               <th><button class="btn btn-edit btn-sm btn-icon loading-demo mr5" type="button" data-toggle="modal" data-target="#Details" ng-click="setID(x, $index);"><i class="fa fa-file"></i> Details</button>
            </th>
          </tr>
          </tbody>
      </table>
    </div>
  
  
    <div id="concludeTransaction" class="modal fade" role="dialog" style="z-index:19999">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" id="closeB" data-dismiss="modal">&times;</button>
              <h4 class="modal-title"><span class="fa fa-money"> </span> Verify Reimbursement</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-success">
                    <ul class="fa-ul">
                        <li>
                            <i class="fa fa-info-circle fa-lg fa-li" aria-hidden="true"></i>
                                <strong class="sr-only">Note:</strong>
                                You may not be able to alter this Transaction beyond this point, kindly make sure the information displayed below is correct before you continue.
                        </li>
                    </ul>
                </div>
                <div class="form-group" style="font-size:18px;" align="center">
                        {{headerStatus}}
                </div> 
                <div ng-if="status == 1">
                    <div class="form-group">
                        <p> Final Amount </p>
                        <input type="text" name="amount" value="{{ae.finalAmount}}" class="form-control" placeholder="{{ae.finalAmount}}" id="amount2"/>
                    </div>
                    <div class="form-group">
                        <p> Optional Comment</p>
                        <textarea class="form-control" id="comment">{{ae.comment}}</textarea>
                    </div>
                    <div class="form-group" style="font-size:18px;" align="right">
                          <span>₦</span><span>{{pricer(ae.finalAmount)}}</span>
                  </div>
                  <input type="hidden" value="{{transID}}" id="transID">
                  <input type="hidden" value="{{providerID}}" id="providerID">
                </div>
                <div ng-if="status == -1">
                    <div class="form-group hidden">
                        <p> Final Amount </p>
                        <input type="text" name="amount" disabled value="{{ae.finalAmount}}" class="form-control" id="amount2"/>
                    </div>
                    <div class="form-group">
                        <p> Reason</p>
                        <textarea class="form-control" id="comment">{{ae.comment}}</textarea>
                    </div>
                    <div class="form-group" style="font-size:18px;" align="right">
                          <span>₦</span><span>{{pricer(ae.finalAmount)}}</span>
                  </div>
                  <input type="hidden" value="{{transID}}" id="transID">
                  <input type="hidden" value="{{providerID}}" id="providerID">
                </div>
                <div ng-if="status == 2">
                    <div class="form-group hidden">
                        <p> Final Amount </p>
                        <input type="text" name="amount" disabled value="{{ae.finalAmount}}" class="form-control" id="amount2"/>
                    </div>
                    <div class="form-group">
                        <p>Comment/Reason</p>
                        <textarea class="form-control" disabled id="comment">{{ae.comment}}</textarea>
                    </div>
                    <div class="form-group" style="font-size:18px;" align="right">
                          <span>₦</span><span>{{pricer(ae.finalAmount)}}</span>
                  </div>
                  <input type="hidden" value="{{transID}}" id="transID">
                  <input type="hidden" value="{{providerID}}" id="providerID">
                </div>
            </div>
            <div class="modal-footer">
              <span id="workr3" style="display: none;"><i class="fa fa-spinner fa-spin"></i> working...</span> 
              <button class="btn btn-danger" id="closeBtn" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-success" id="fpointBtn" ng-click="conclude(status, $event)">Update <i class="fa fa-chevron-circle-right"></i></button>
            </div>
          </div>
      
        </div>
      </div>
  
  <style>
    .table-details tbody tr th{
      font-weight: bolder !important;
    } 
  </style>
  </div>
      <div id="Details" class="modal fade" role="dialog" style="overflow:scroll !important">
          <div class="modal-dialog" id="mdiag" style="width:80%">
            <!-- Modal content-->
            <div class="modal-content" id="printContent">
              <div class="modal-header">
                <div class="text-center">
                <!--<button type="button" id="btnPrint" class="" style="position:absolute">Print</button>-->
                </div>
                <button type="button" class="close" id="closeB" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Reimbursement Details  </h4>
              </div>
              <div class="modal-body">
                  <div id="myCarousel" class="carousel slide" data-ride="carousel">
                      <!-- Indicators -->
                      <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                      </ol>
                    
                      <!-- Wrapper for slides -->
                      <div class="carousel-inner">
                        <div class="item active" ng-if="ae.receipt">
                          <img ng-src="{{pointFile(ae.receipt)}}" alt="Reciept">
                          <div class="carousel-caption">
                              <h3>Reciept File</h3>
                              <p>{{ae.receipt}}</p>
                          </div>
                        </div>
                    
                        <div class="item" ng-if="ae.report">
                          <img ng-src="{{pointFile(ae.report)}}" alt="Report">
                          <div class="carousel-caption">
                              <h3>Report File</h3>
                              <p>{{ae.report}}</p>
                          </div>
                        </div>
                    
                        <div class="item" ng-if="ae.costAnalysis">
                          <img ng-src="{{pointFile(ae.costAnalysis)}}" alt="Cost Analysis">
                          <div class="carousel-caption">
                              <h3>Cost Analysis File</h3>
                              <p>{{ae.costAnalysis}}</p>
                          </div>
                        </div>
                        <div class="item" ng-if="ae.labresult">
                            <img ng-src="{{pointFile(ae.labresult)}}" alt="Laboratory Result">
                            <div class="carousel-caption">
                                <h3>Laboratory Result File</h3>
                                <p>{{ae.labresult}}</p>
                            </div>
                        </div>
                        <div class="item" ng-if="ae.prescription">
                            <img ng-src="{{pointFile(ae.prescription)}}" alt="Prescription">
                            <div class="carousel-caption">
                                <h3>Prescription File</h3>
                                <p>{{ae.prescription}}</p>
                            </div>
                        </div>
                        <div class="item" ng-if="ae.others">
                            <img ng-src="{{pointFile(ae.others)}}" alt="Others">
                            <div class="carousel-caption">
                                <h3>Ohers File</h3>
                                <p>{{ae.others}}</p>
                            </div>
                        </div>
                      </div>
                      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                          <span class="glyphicon glyphicon-chevron-left"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                          <span class="glyphicon glyphicon-chevron-right"></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div>
              </div>
              <div class="modal-footer">
                <span id="workr3" style="display: none;"><i class="fa fa-spinner fa-spin"></i> working...</span> 
               <div class="dropup" style="position:absolute" ng-if="ae.status != 2">
                      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Actions
                      <span class="caret"></span></button>
                      <ul class="dropdown-menu pull-right">
                        <li class="text-danger" data-toggle="modal" data-target="#concludeTransaction" ng-click="updateTransaction(-1, ae, $index)" style="padding:7px; cursor: pointer;"><span class="fa fa-times"></span> Reject</li>
                        <li class="text-success" data-toggle="modal" data-target="#concludeTransaction" ng-click="updateTransaction(1, ae, $index)" style="padding:7px; cursor: pointer;"><span class="fa fa-check"></span> Accept</li>
                        <li class="text-info" data-toggle="modal" data-target="#concludeTransaction" ng-click="updateTransaction(2, ae, $index)" style="padding:7px; cursor: pointer;"><span class="fa fa-money-bill"></span> Paid</li>
                      </ul>
                    </div>
                <button class="btn btn-danger" id="closeBtn" data-dismiss="modal">Close</button>              
              </div>
            </div>
        
          </div>
        </div>
  </div>
  