<div class="page-container" data-ng-controller="scheduleCtrl">
    <headertop></headertop>  
       <!-- PAGE CONTENT -->
       <div class="page-content">
           <top></top>


           <!-- PAGE CONTENT WRAPPER -->
           <div class="page-content-wrap">
                   <style type="text/css">
                       .cardLink{
                           background: #37474f;
                           color: #fff;
                       }
                   </style> 
               <!-- START WIDGETS -->                    
               
               <!-- END WIDGETS -->                    
               
               <div class="row">
                
                <div class="col-md-12">
                     <!-- START DATATABLE EXPORT -->
                        <!-- START DATATABLE EXPORT -->
                       <div class="panel panel-default">
                           <div class="panel-heading">
                               <h3 class="panel-title"><a><span class="xn-text" style="margin-left: 20px;">Schedule </span></a></span></h3>
                               <div class="btn-group pull-right">
                                    <button class="btn btn btn-info btn-corner openBtn" data-toggle="modal" id="modalFling" data-target="#add-staff" style="color: #ffffff;"><span class="fa fa-clock"></span> Create New Schedule</button>
                                  <!--<button class="btn btn-info" data-toggle="modal" data-target="#add-card"><span class="fa fa-user"></span>Add Card</button>-->
                                   <button class="btn btn-danger btn-corner dropdown-toggle" data-toggle="dropdown" style="color: #ffffff;"><i class="fa fa-bars"></i> Export Data</button>
                                   <ul class="dropdown-menu">
                                       <li><a href="#" onClick ="$('#customers2').tableExport({type:'json',escape:'false'});"><img src='img/icons/json.png' width="24"/> JSON</a></li>
                                       <li><a href="#" onClick ="$('#customers2').tableExport({type:'json',escape:'false',ignoreColumn:'[2,3]'});"><img src='img/icons/json.png' width="24"/> JSON (ignoreColumn)</a></li>
                                       <li><a href="#" onClick ="$('#customers2').tableExport({type:'json',escape:'true'});"><img src='img/icons/json.png' width="24"/> JSON (with Escape)</a></li>
                                       <li class="divider"></li>
                                       <li><a href="#" onClick ="$('#customers2').tableExport({type:'xml',escape:'false'});"><img src='img/icons/xml.png' width="24"/> XML</a></li>
                                       <li><a href="#" onClick ="$('#customers2').tableExport({type:'sql'});"><img src='img/icons/sql.png' width="24"/> SQL</a></li>
                                       <li class="divider"></li>
                                       <li><a href="#" onClick ="$('#customers2').tableExport({type:'csv',escape:'false'});"><img src='img/icons/csv.png' width="24"/> CSV</a></li>
                                       <li><a href="#" onClick ="$('#customers2').tableExport({type:'txt',escape:'false'});"><img src='img/icons/txt.png' width="24"/> TXT</a></li>
                                       <li class="divider"></li>
                                       <li><a href="#" onClick ="$('#customers2').tableExport({type:'excel',escape:'false'});"><img src='img/icons/xls.png' width="24"/> XLS</a></li>
                                       <li><a href="#" onClick ="$('#customers2').tableExport({type:'doc',escape:'false'});"><img src='img/icons/word.png' width="24"/> Word</a></li>
                                       <li><a href="#" onClick ="$('#customers2').tableExport({type:'powerpoint',escape:'false'});"><img src='img/icons/ppt.png' width="24"/> PowerPoint</a></li>
                                       <li class="divider"></li>
                                       <li><a href="#" onClick ="$('#customers2').tableExport({type:'png',escape:'false'});"><img src='img/icons/png.png' width="24"/> PNG</a></li>
                                       <li><a href="#" onClick ="$('#customers2').tableExport({type:'pdf',escape:'false'});"><img src='img/icons/pdf.png' width="24"/> PDF</a></li>
                                   </ul>
                               </div>                                    
                               
                           </div>
                           <div class="panel-body">
                               <table id="customers2" class="table table-striped datatable" class="table datatable" datatable="ng" dt-options="dtOptions" dt-instance="dtInstance">
                                   <thead>
                                       <tr>
                                           <th>S/N</th>
                                           <th>Name</th>
                                           <th>Link </th>
                                           <th>Last Run</th>
                                           <th>Frequency </th>
                                           <th>emails</th>
                                           <th>Actions</th>
                                       </tr>
                                   </thead>
                                   <tbody>
                                       <tr ng-repeat="x in schedules">
                                           <td>{{$index + 1}}</td>
                                           <td>{{x.name}}</td>
                                           <td>{{x.link}}</td>
                                           <td>{{dateFormater(x.lastRun)}}</td>
                                           <td>{{x.frequency}}</td>
                                           <td>{{x.emails}}</td>
                                           <td><button class="btn btn-info btn-corner openBtn2" style="color: #ffffff;" ng-click="setObj(x)"><span class="fa fa-edit"></span> Edit Schedule</button></td>

                                       </tr>
                                   </tbody>
                               </table>                               
                           </div>
                       </div>
                       <!-- END DATATABLE EXPORT -->
                    </div>
               <!-- END DATATABLE EXPORT -->                            
               

               </div>      
               
              
           </div>
           <!-- END PAGE CONTENT WRAPPER -->                                
       </div>            
       <!-- END PAGE CONTENT -->
       <!-- Modal -->
       <style>
            .scroll::-webkit-scrollbar {
                width: 3px;
            }
            
            .scroll::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
                border-radius: 10px;
            }
            
            .scroll::-webkit-scrollbar-thumb {
                border-radius: 10px;
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
            }
            .select2-container{
                z-index:2010;                    
            }
            .select2{
                width:400px !important;
            }
            </style>
              <div style="width:100%; height:100%; background:black; position:fixed; left:0px; right:0px; top:0px; z-index:2000; opacity:0.6; display:none" class="bcover">
              </div>
                  <div class="modal-content" style="display:none; background:none; z-index:2005; width:100%; height:100%; position:fixed; left:0px; right:0px; top:0px; padding:20px;" align="center">
                    <div class="scroll" style="max-width:60%; background:white; padding:20px; max-height:100%; overflow:auto; border-radius:6px" align="left">
                    <div class="modal-header">
                      <button type="button" class="close closeBtn" id="closeBtn" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title"><span class="fa fa-money"> </span> Create new Schedule</h4>
                    </div>
                    <div class="modal-body">
                      <div class="form-group">
                          <p>Enter Name</p>
                          <input type="text" class="form-control" id="name" value="{{activeSchedule.name}}">
                      </div>
                      <div class="form-group">
                        <p>Enter Link</p>
                        <input type="text" class="form-control" id="link" value="{{activeSchedule.link}}">
                    </div>
                    <div class="form-group">
                        <p>Enter Last Run</p>
                        <input type="date" class="form-control" id="lastRun" value="">
                    </div>
                    <div class="form-group">
                        <p>Frequency</p>
                        <input type="number" class="form-control" id="frequency" value="{{activeSchedule.frequency}}">
                    </div>
                    <div class="form-group">
                        <p>Enter emails</p>
                        <input type="text" class="form-control" id="emails" value="{{activeSchedule.emails}}">
                    </div>
                    </div>
                    <div class="modal-footer">
                      <span id="work" style="display: none;"><i class="fa fa-spinner fa-spin"></i> working...</span>
                      <button type="button" class="btn btn-danger closeBtn" id="editbtn">Close</button>                          
                      <button type="button" class="btn btn-success" id="editbtn" ng-if="!activeSchedule" ng-click="createSchedule($event)">Create Schedule</button>
                      <button type="button" class="btn btn-success" id="editbtn" ng-if="activeSchedule" ng-click="updateSchedule($event)">Update Schedule</button>
                    </div>
                  </div>      
<footertop></footertop>
