<div class="panel" data-ng-controller="tariffamountCtrl">
  <div class="panel-heading border">
    <ol class="breadcrumb mb0 no-padding">
      <li>
        <a href="javascript:;">Home</a>
      </li>
      <li class="active">Tariff</li>
      <li class="active">Amount</li>
      <button class="btn btn-success btn-sm btn-icon loading-demo mr5 pull-right" ng-click="savePrices($event)"><i class="fa fa-check"></i>save</button>
    </ol>
  </div>
  <div style="padding:40px">
    <h4>Tariff Name: {{tariffDetails.tariffName}}</h4>
    <h4>Plan Name: {{tariffDetails.planName}}</h4>
    <h4>Assigned Provider: {{tariffDetails.providername}}</h4>
  </div>
  <div class="panel-body">    
    <table class="table table-bordered bordered table-striped table-condensed datatable" datatable="ng" dt-options="dtOptions" dt-instance="dtInstance">
      <thead>
        <tr class="bold">
          <td>S/N</td>
          <td style="width: 40%">Name of Services</td>
          <td style="width: 20%">Amount Range</td>
          <td style="width: 20%">Frequency Range</td>
          <td style="width: 20%">Duration Range</td>
        </tr>
      </thead>
      <tr ng-repeat="x in tariffServices">
        <td>{{$index + 1}}</td>
          <td>
            {{ x.serviceName || 'empty' }}
          </td>
          <td>
            <input type="text" class="form-control" ng-keyup="updatePrice(0, $index, $event)" required="required" value="{{x.price}}" placeholder="{{x.price}}" style="border-top: 1px; border-left: 1px; border-right: 1px;">
          </td>
          <td>
              <input type="text" class="form-control" ng-keyup="updatePrice(1, $index, $event)" required="required" value="{{x.frequency}}" placeholder="{{x.frequency}}" style="border-top: 1px; border-left: 1px; border-right: 1px;">
            </td>
            <td>
                <input type="text" class="form-control" ng-keyup="updatePrice(2, $index, $event)" required="required" value="{{x.duration}}" placeholder="{{x.duration}}" style="border-top: 1px; border-left: 1px; border-right: 1px;">
              </td>
        </tr>
    </table>
    <hr/>
    <button class="btn btn-success btn-sm btn-icon loading-demo mr5 pull-right" ng-click="savePrices($event)"><i class="fa fa-check"></i>save</button>
  </div>  
</div>
