<div class="panel" data-ng-controller="tariffCtrl">

  <div class="panel">
    <div class="panel-heading">
      <ol class="breadcrumb mb0 no-padding">
      <li>
        <a href="javascript:;">Home</a>
      </li>
      <li class="active">Tariff</li>
      <button class="btn btn-primary btn-icon loading-demo mr5 pull-right openBtn">
      <i class="fa fa-money-bill-wave-alt"></i>
      <span>Add Tariff</span></button>
    </ol>
    </div>
    <div style="padding:12px">
      <label><i class="fa fa-filter"></i> Filter</label>
      <select id="category" class="form form-control" style="width:200px">
        <option value="-">Show from All providers</option>
        <option ng-repeat="x in providers" value="{{x.id}}">{{x.name}}</option>
      </select>
      <span id="fetcher"></span>
    </div>
    <div class="panel-body">
      <table class="table table-bordered bordered table-striped table-condensed datatable" id="tariff2" datatable="ng" dt-options="dtOptions" dt-instance="dtInstance">
        <thead>
        <tr class="bold">
          <th style="width:10%">S/N</th>
          <th style="width:20%">Name</th>
          <th>Description</th>
          <th>Total Services</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="x in tariffs">
          <td>{{$index + 1}}</td>
          <td>
            <!-- editable username (text with validation) -->            
              {{ x.name}}
          </td>
          <td>
            <!-- editable status (select-local) -->
            {{x.description}}
          </td>
          <td>
            <!-- editable status (select-local) -->
            {{x.tservice}}
          </td>
          <td style="white-space: nowrap">            
            <div class="buttons">
              <button class="btn btn-primary btn-xs btn-icon loading-demo mr5" ng-click="manageTariff(x)"><i class="fa fa-edit"></i>Manage Assigned providers</button>
              <!--<button class="btn btn-danger btn-xs btn-icon loading-demo mr5" ng-click="removeUser($index)"><i class="fa fa-trash"></i>delete</button> -->
              <button class="btn btn-success btn-xs btn-icon loading-demo mr5" ng-click="tariffAmount(x)"><i class="fa fa-info"></i>details</button>
              <button class="btn btn-danger btn-xs btn-icon loading-demo mr5" ng-click="deleteTariff($event, x)"><i class="fa fa-trash"></i>Delete</button>
            </div>
          </td>
        </tr>
      </tbody>
      </table>



    </div>
  </div>
<style>
.scroll::-webkit-scrollbar {
    width: 3px;
}

.scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
</style>
  <div style="width:100%; height:100%; background:black; position:fixed; left:0px; right:0px; top:0px; z-index:2000; opacity:0.6; display:none" class="bcover">
  </div>
      <div class="modal-content" style="display:none; background:none; z-index:2005; width:100%; height:100%; position:fixed; left:0px; right:0px; top:0px; padding:20px;" align="center">
        <div class="scroll" style="max-width:60%; background:white; padding:20px; max-height:100%; overflow:auto; border-radius:6px" align="left">
        <div class="modal-header">
          <button type="button" class="close closeBtn" id="closeBtn" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><span class="fa fa-money"> </span> {{modalAction}}</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
              <p>Tariff name</p>
              <input type="text" class="form-control" id="tariffName" value="{{currentEdit.tariffName}}">
          </div>
          <div class="form-group">
              <p>Tariff Description</p>
              <textarea class="form-control" id="tariffDescription">{{currentEdit.description}}</textarea>
          </div>
          <div class="form-group">
            <p>Upload Tariff File</p>
            <input type="file" id="TarrifFile" class="form-group" />
        </div>
     <!--     <div class="form-group">
              <p>Tarrif Plan</p>
              <select id="tariffPlan" class="form-control">
                <option value="0" ng-if="!currentEdit">Select a Plan</option>
                <option ng-if="currentEdit" selected value="{{currentEdit.planID}}">{{currentEdit.planName}}</option>
                <option ng-repeat="x in plans" value="{{x.id}}">{{x.name}}</option>
              </select>
          </div>
          <div class="form-group">
              <p>Assigned Provider</p>
              <select id="provider" class="form-control">                  
                  <option value="0" ng-if="currentEdit" disabled>Selected Provider</option>
                  <option ng-if="currentEdit" value="{{currentEdit.providerID}}" selected >{{currentEdit.providername}}</option>
                  <option value="0">Select a Provider</option>
                  <option ng-repeat="x in providers" value="{{x.id}}">{{x.name}}</option>
                </select>
          </div>    -->   
        </div>
        <div class="modal-footer">
          <span id="work" style="display: none;"><i class="fa fa-spinner fa-spin"></i> working...</span>
          <button type="button" class="btn btn-danger closeBtn" id="editbtn">Close</button>
          <button type="button" ng-if="!currentEdit" class="btn btn-success" id="editbtn" ng-click="createTariff($event)">Save</button>
          <button type="button" ng-if="currentEdit" class="btn btn-success" id="editbtn" ng-click="updateTariff($event)">Update</button>
        </div>
      </div>
      </div>

      <div class="modal-content-2" style="display:none; background:none; z-index:2005; width:100%; height:100%; position:fixed; left:0px; right:0px; top:0px; padding:20px;" align="center">
        <div class="scroll" style="max-width:60%; background:white; padding:20px; max-height:100%; overflow:auto; border-radius:6px" align="left">
        <div class="modal-header">
          <button type="button" class="close closeBtn-2" id="closeBtn-2" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><span class="fa fa-box"> </span> Assign {{currentTariff.name}} to Provider</h4>
        </div>
        <div class="modal-body">
          <div id="planTab" style="border: solid thin #c5b4b4; max-height: 300px; overflow: scroll; width: 100%; padding: 12px">
              <div id="waiter" style="font-size: 16px; font-weight: bold"><i class="fa fa-spinner fa-spin"></i> Please wait...</div>
                  <table class="table table-bordered bordered table-striped table-condensed datatable" datatable="ng" dt-options="dtOptions" dt-instance="dtInstance">
                          <thead>
                            <tr>
                              <td>S/N</td>
                              <th  style="width:35%">Provider Name</th>
                              <th  style="width:35%">Status</th>
                            </tr>
                          </thead>
                          <tbody>
                          <tr ng-repeat="x in editedProvider" ng-if="x.status > 0">
                            <td>
                              {{$index + 1}}
                            </td>
                              <td>
                                {{ x.name || 'empty' }}
                              </td>
                              <td>
                                <input type="checkbox" ng-click="updateProvider(x, $event)" ng-checked="x.found" >
                              </td>                                    
                            </tr></tbody>
                        </table>
          </div>
        </div>
        <div class="modal-footer">
          <span id="work" style="display: none;"><i class="fa fa-spinner fa-spin"></i> working...</span>
          <button type="button" class="btn btn-danger closeBtn-2" id="editbtn">Close</button>
          <button type="button" class="btn btn-success" id="editbtn" ng-click="updateTariff($event)">Update</button>
        </div>
      </div>
      </div>
