<div class="container">
  <div class="quick-launcher-inner">
    <a href="javascript:;" class="close" quick-launch>×</a>
    <div class="css-table-xs">
      <div class="col">
          <a ui-sref="app.dashboard">
            <i class="icon-marquee"></i>
            <span>Dashboard</span>
          </a>
      </div>
      <div class="col">
          <a ui-sref="app.provider">
            <i class="icon-drop"></i>
            <span>Provider</span>
          </a>
      </div>
      <div class="col">
          <a ui-sref="app.hospital_plans">
            <i class="icon-mail"></i>
            <span>Health Plans</span>
          </a>
      </div>
      <div class="col">
          <a ui-sref="app.tariff">
            <i class="icon-speech-bubble"></i>
            <span>Tariff</span>
          </a>
      </div>
      <div class="col">
          <a ui-sref="app.enrollees">
            <i class="icon-pie-graph"></i>
            <span>Enrollees</span>
          </a>
      </div>
      <div class="col">
          <a ui-sref="app.organization">
            <i class="icon-esc"></i>
            <span>Organization</span>
          </a>
      </div>
      <div class="col">
          <a ui-sref="app.encounters">
            <i class="icon-esc"></i>
            <span>Encounters</span>
          </a>
      </div>
      <div class="col">
          <a ui-sref="app.claims">
            <i class="icon-esc"></i>
            <span>Claims Category</span>
          </a>
      </div>
    </div>
  </div>
</div>
